body {
    font-family: 'Arial', sans-serif;
    text-align: center;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), 
        url('https://images.unsplash.com/photo-1663970206579-c157cba7edda?fm=jpg&q=60&w=3000&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    color: white;
    margin: 0;
    padding: 0;
}

/* Ajustes generales */
header {
    background-color: #1a1a1a;
    padding: 20px;
    font-size: 28px;
    text-transform: uppercase;
}

h2 {
    color: #007BFF;
}

.advertencia {
    color: red;
    font-weight: bold;
}


iframe {
    width: 100%;
    height: 400px;
    border-radius: 10px;
    border: none;
}


.contenedor {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin: 20px;
}


.cajaizquierda, .cajaderecha {
    width: 45%;
    padding: 20px;
    border: 2px solid #007BFF;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(5px);
    display: flex;
    flex-direction: column;
}

@media screen and (max-width: 480px) {
    header {
        font-size: 1.2rem; 
    }

    .cajaizquierda, .cajaderecha {
        padding: 15px; 
    }

    iframe {
        height: 250px; 
    }
}
